* {
  padding: 0px;
  margin: 0px;
  background: #333333;
  color: #fff;
}

.nav-link {
  color: #b6b6b6 !important;
  font-size: 24px !important;
  position: relative;
}

.nav-und {
  content: "" !important;
  height: 1px !important;
  width: 0px !important;
  /* background-color: #fff !important; */
  position: absolute !important;
  bottom: 7px;
  left: 14px;
}

.nav-link:hover {
  color: #fff !important;
}
.nav-link:hover .nav-und {
  background-color: #fff !important;
  width: 60% !important;
  transition: all 0.5s linear !important;
}

.navbar {
  margin-bottom: 30px !important;
}

.home {
  margin-bottom: 10px;
}
.home h1 {
  font-size: 82px;
}
.home p {
  font-size: 31px;
  width: 37%;
  color: #b6b6b6;
}

.main {
  padding: 10px 50px;
}

.img_div1 {
  max-width: 100%;
  max-height: 400px;
  position: relative;
  padding: 10px 10px;
  cursor: pointer;
}
.img1 {
  width: 100%;
  height: 400px;
  transition: all 0.3s;
}

.pos-ab {
  position: absolute;
  top: 23px;
  background-color: transparent !important;
  left: 30px;
}

.addicon {
  width: 53px;
  height: 53px;
  background-color: transparent;
  /* color: #000; */
  visibility: hidden;
  transform: rotateZ(45deg);
  transition: all 0.5s;
  color: #9a8f8f;
}
.img2 {
  width: 100%;
  height: 400px;
  transition: all 0.3s;
}

.img1:hover {
  transform: scale(1.1);
}

.img_div1:hover .addicon {
  visibility: visible;
  transform: rotateZ(0deg);
}

.img_div1:hover .handcrafted {
  display: none;
}
.img_div1:hover .dis-n {
  display: block;
}

.img2:hover {
  transform: scale(1.1);
}

.handcrafted {
  margin-top: 20px;
  margin-bottom: 0px !important;
  transition: all 0.5s;
}

.dis-n {
  display: none;
  margin-top: 20px;
  transition: all 0.5s;
}

.moremep {
  font-size: 22px;
}

.main-clas {
  letter-spacing: 3px;
  position: relative;
}

.con-tent {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #fff;
  width: 0px;
  transition: all 0.5s;
}

.main-clas:hover .con-tent {
  width: 32%;
  transition: all 0.5s linear;
}

.txt-dec h4 {
  color: #858585;
}
.txt-dec h4:hover {
  color: #fff;
  border-bottom: 1px solid;
}

.singlepage1 {
  width: 100%;
}

.singleimg2 {
  width: 100%;
  height: 400px;
}

.aboutmeimg1 {
  height: 400px;
  width: 80%;
  object-fit: cover;
  margin-bottom: 10px;
}

.abtmemain {
  position: sticky;
  top: 120px;
}

.abtmemain h1 {
  width: 50%;
}

.abtmemain p:nth-child(2) {
  width: 60%;
}
.abtmemain p:nth-child(3) {
  width: 60%;
}

.letsgo {
  text-align: center;
  padding-top: 100px;
  border: 1px solid #fff;
  padding-bottom: 100px;
  margin-top: 20px;
}
